<% course_class = CourseClass.new(course: course) unless course_class %>
<div class="modal-form" id="course-class-form">
  <%= form_for([course, course_class], remote: true, style: 'overflow: scroll') do |f| %>
    <%= f.text_field :start_time, value: (course_class.start_time.nil? ? '' : course_class.start_time.to_est.strftime("%Y-%m-%d%l:%M %P")), class: 'datetime-input' %>
    <%= f.text_field :end_time, value: (course_class.end_time.nil? ? '' : course_class.end_time.to_est.strftime("%Y-%m-%d%l:%M %P")), class: 'datetime-input' %>
    <%= f.submit %>
  <% end %>
</div>
<script type='text/javascript'>
  $('.datetime-input').datetimepicker({dateFormat: 'yy-mm-dd', timeFormat: 'h:mm tt'});
</script>
