<style>
  .attendance-table {
    width: 100%;
  }
</style>
<div class="modal-form" id="course-class-form">
  <%= form_for(course_course_class_take_attendance_path(@course_class.course, @course_class),
              remote: true,
              style: 'overflow: scroll') do |f| %>
    <table class='attendance-table'>
      <tr>
        <th>Member</th>
        <th>Present?</th>
      </tr>
      <% @course_class.course.course_registrations.each do |r| %>
        <% member = r.member %>
        <tr>
          <td><%= link_to member, member.name %></td>
          <td><%= f.check_box "member[#{member.id}]",
            @course_class.attended?(member) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>

