<% if @course_class.errors.empty? %>
  $.modal.close();
  $("#course-classes-table").html('<%= escape_javascript(render(partial: "courses/show/course_classes", locals: {course_classes_grid: @course_classes_grid, course: @course })) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $("#new-course-class").html('<%= escape_javascript(render(partial: "form", locals: { course: @course, course_class: @course_class })) %>');
<% end %>
