<% if @course_class.errors.empty? %>
  $("#course-classes-table").html('<%= escape_javascript(render(partial: "courses/show/course_classes", locals: {course_classes_grid: @course_classes_grid, course: @course })) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $('#flash-error').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash-error').show();
<% end %>
