<% if course.course_classes.active.count != course.number_of_lessons %>
  <span class='warning' style='font-weight: bold; color: red'>There are <%= course.course_classes.active.count %> classes scheduled but <%= course.number_of_lessons %> is expected.</span>
<% end %>
<div style='margin-top: 10px'>
  <%= link_to_modal("New", new_course_course_class_path(course), class: 'button small') if @session[:authenticated] %>
  <% unless course.is_started? %>
    <%= link_to("Regenerate classes", course_regenerate_classes_path(course), class: 'button small', method: :post) if @session[:authenticated] %>
  <% end %>
</div>
<%= grid(course_classes_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Start Time', attribute: 'start_time' do |course_class|
    course_class.start_time.to_est.strftime("%Y-%m-%d %l:%M %P")
  end

  g.column name: 'End Time', attribute: 'end_time' do |course_class|
    course_class.end_time.to_est.strftime("%Y-%m-%d %l:%M %P")
  end

  g.column name: 'Attendance' do |course_class|
    course_class.course_attendances.count
  end

  g.column in_csv: false do |course_class|
    if @session[:authenticated]
      (link_to_modal 'Edit', edit_course_course_class_path(course_class.course, course_class)) + " " +
        (link_to "Cancel", course_course_class_path(course_class.course, course_class), :method => 'delete', remote: true)
    end
  end
end
%>

