<style>
  attendance-table.table {
    text-align: center;
  }
</style>
<%= form_tag(course_update_attendance_path(course),
             method: :post,
             class: 'attendance-form') do %>
  <%= submit_tag 'Update', class: 'small button' %>
  <table class='attendance-table'>
    <thead>
      <tr>
        <th>Card Number</th>
        <th>Member Name</th>
        <th>Chinese Name</th>
        <% course.course_classes.each do |cclass| %>
          <th><%= cclass.date %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= hidden_field_tag 'course_id', course.id %>
      <% course.members.each do |member| %>
        <tr>
          <td> <%= member.card_number %> </td>
          <td> <%= link_to member.fullname, member %> </td>
          <td> <%= link_to member.chinese_name, member %> </td>
          <% course.course_classes.each do |cclass| %>
            <td>
              <% if cclass.is_member?(member) %>
                <%= check_box_tag "attendance[#{cclass.id}][#{member.id}]", nil, cclass.attended?(member) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% unless @authenticated %>
  <script>
    $('.attendance-form input').attr('disabled', 'disabled');
  </script>
<% end %>
