<table class="course-info-table">
   <tr>
     <td>
       <div class="row">
         <div class="columns large-6">
           <h6><strong>Course code:</strong></h6>
         </div>
         <div class="columns large-6">
           <%= course[:course_code] %>
         </div>
       </div>
     </td>
     <td>
       <div class="row">
         <div class="columns large-6">
           <h6><strong>Period:</strong></h6>
         </div>
         <div class="columns large-6">
           <%= course[:start_date] %> - <%= course[:end_date] %>
         </div>
       </div>
     </td>
     <td>
       <div class="row">
         <div class="columns large-6">
           <h6><strong>Time:</strong></h6>
         </div>
         <div class="columns large-6">
           <%= course.start_time_value %> - <%= course.end_time_value %>
         </div>
       </div>
     </td>
     <td>
       <div class="row">
         <div class="columns large-6">
           <h6><strong>Day of Week:</strong></h6>
         </div>
         <div class="columns large-6">
           <%= Course::DayOfWeek::WEEK[course[:day_of_week]] %>
         </div>
       </div>
     </td>
   </tr>

  <% fields = [:number_of_lessons, :course_fee_senior_circle, :course_fee_general, :course_fee_volunteer]
   columns = 4 %>

 <% fields_per_column = (fields.count / columns.to_f).ceil
 fields.each_slice(fields_per_column).to_a.reduce([]) do |rows, column|
   column.each_index do |index|
     rows[index] ||= []
     rows[index] << column[index]
   end
   rows
 end.each do | fields | %>
     <tr>
     <% fields.each do | field | %>
       <td>
         <div class="row">
           <div class="columns large-6">
             <h6><strong><%= field.to_s.split('_').map {|x|x.capitalize}.join(' ').strip %>:</strong></h6>
           </div>
           <div class="columns large-6">
             <%= course[field] %>
           </div>
         </div>
       </td>
     <% end %>
     </tr>
<% end %>
</table>

