<% registration = MembershipRegistration.new(registration_date: Time.now, new_expiry_date: Time.now) unless registration %>
<div class="modal-form">
  <%= form_for([member, registration], remote: true, style: 'overflow: scroll') do |f| %>

    <%= f.text_field :receipt_number %>
    <%= f.text_field :year, value: (registration.year.nil? ? Time.now.year : registration.year) %>
    <%= f.text_field :registration_date, value: registration.registration_date.strftime("%Y-%m-%d"), class: 'datepicker' %>
    <%= f.text_field :new_expiry_date, value: registration.new_expiry_date.strftime("%Y-%m-%d"), class: 'datepicker' %>

    <%= f.hidden_field :member_id, value: member.id %>
    <%= f.submit %>
  <% end %>
</div>
