<% if @registration.errors.nil? || @registration.errors.empty? %>
  $.modal.close();
  $("#renewal-history").html('<%= escape_javascript(render(partial: "members/renewals" )) %>')
  $("#member-info").html('<%= escape_javascript(render(partial: "members/info", locals: { member: @member } )) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $(".registration_form").html('<%= escape_javascript(render(partial: "form", locals: { member: @member, registration: @registration })) %>');
<% end %>
