<div class="modal-form">
  <%= form_for([course_attendance.course, course_attendance], remote: true, style: 'overflow: scroll') do |f| %>
    <%= label :member_id, 'Member' %>
    <%= f.collection_select :member_id, Member.all, :id, :fullname, prompt: true %>

    <%= f.text_field :created_at, value: (course_attendance.created_at.nil? ? Time.now : course_attendance.created_at.to_est.strftime("%Y-%m-%d %l:%M %P")) %>
    <%= f.hidden_field :course_id, value: course_attendance.course.id %>
    <%= f.submit %>
  <% end %>
</div>
