<% if @course_attendance.errors.nil? || @course_attendance.errors.empty? %>
  $.modal.close();
  $("#course-attendance-history").html('<%= escape_javascript(render(partial: "courses/show/course_attendances", locals: {course_attendances_grid: @course_attendances_grid})) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  ('#attendance_form').html('<%= escape_javascript(render(partial: "form", locals: { course_attendance: @course_attendance })) %>');
<% end %>
