<div class='row' style='margin-top: 10px'>
  <div class='column large-10'>
    <input type='button' class='small button generate' value='Generate'>
  </div>
</div>
<div class='row'>
  <div class='column large-10'>
    <textarea rows='20' cols='10' placeholder='Enter email addresses. One line per email.' class='email_input'></textarea>
    <hr/>
  </div>
</div>
<div class='row'>
  <div class='column large-10'>
    <div class='result'>
    </div>
  </div>
</div>
<script>
  $('.generate').click(function() {
    var emails = $('.email_input').val().split("\n");
    $('.result').html(emails.join(';'));
  });
</script>
