<% if @member.errors.nil? || @member.errors.empty? %>
  $.modal.close();
  <% if @view == 'members' %>
    $("#members-table").html('<%= escape_javascript(render(partial: "members/members", locals: { members: @members } )) %>')
  <% elsif @view == 'member_info' %>
    $("#member-info").html('<%= escape_javascript(render(partial: "members/info", locals: { member: @member } )) %>')
    $("#member-fullname").html('<%= "#{@member.chinese_name} #{@member.fullname}" %>')
  <% end %>
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% end %>
