<%= grid(classes_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Course Code',
    model: 'Course',
    attribute: 'course_code' do |cclass|
    cclass.course.course_code
  end

  g.column name: 'Course Name',
    model: 'Course',
    attribute: 'course_name' do |cclass|
    cclass.course.course_name
  end

  g.column name: 'Chinese Name',
      model: 'Course',
      attribute: 'course_chinese_name' do |cclass|
    cclass.course.course_chinese_name
  end

  g.column name: 'Start Time', attribute: 'start_time' do |cclass|
    cclass.start_time_value
  end

  g.column name: 'End Time', attribute: 'end_time' do |cclass|
    cclass.end_time_value
  end

  g.column name: 'Location', model: 'Location', attribute: 'name' do |cclass|
    cclass.course.location.display_name
  end

  g.column in_csv: false do |cclass|
    (link_to 'Show', cclass.course) + ' ' +
    (link_to 'Attendances', course_path(cclass.course, tab: :attendance))
  end

end
%>

