<%= grid(books_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Name', attribute: 'name'
  g.column name: 'Author', attribute: 'author'
  g.column name: 'Code', attribute: 'book_code'
  g.column name: 'Available', attribute: 'available'
  g.column name: 'Lost/Damage', attribute: 'lost_damage'

  g.column do |book|
    l = (link_to 'Show', book) + " | "
    if book.is_on_loan? && !book.lost_damage
      l += (link_to 'Return', mark_as_returned_book_path(book)) + " | "
    end
    l += (link_to_modal 'Edit', edit_book_path(book))
    l
  end
end
%>

