<% book = Book.new unless book %>
<%= form_for(book, remote: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :book_code %>
  <%= f.text_field :author %>
  <%= f.text_area :description %>
  <%= f.text_field :isbn %>
  <%= f.text_field :publisher %>
  <%= f.check_box :lost_damage, :label => "  Lost/Damage" %>
  <%= f.submit %>
<% end %>

