<%=
  grid(book_rentals_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Borrowed At', attribute: 'borrowed_at' do |rental|
    rental.borrowed_at.try(:to_date)
  end

  g.column name: 'Borrowed By', model: Member, attribute: 'first_name' do |rental|
    rental.member.fullname
  end

  g.column name: 'Member Card Number', model: Member, attribute: 'card_number' do |rental|
    rental.member.card_number
  end

  g.column name: 'Returned At', attribute: 'returned_at' do |rental|
    rental.returned_at.try(:to_date)
  end

  g.column name: 'Expiring At', attribute: 'expiring_at' do |rental|
    rental.expiring_at.try(:to_date)
  end

  g.column do |book|
    (link_to 'Show', book) + " | " +
      (link_to_modal 'Edit', edit_book_path(book))
  end
end
%>

