<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>All Books:</h1>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" style="padding-bottom: 10px">
    <% if @authenticated %>
      <%= link_to_modal "New", new_book_path, class: 'button small' %>
      <%= link_to "Export", books_path(:format => 'xls'), class: 'button small' %>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" id="books-table">
    <%= render partial: "books", locals: { books_grid: @books_grid } %>
  </div>
</div>

