<div class='row'>
  <div class='column large-10'>
    <h2><%= @book.name %></h2>
  </div>
</div>
<% [:name, :description, :book_code, :author, :publisher, :isbn, :lost_damage].each do |f| %>
  <div class='row' style='padding-bottom: 10px'>
    <div class='column large-12'>
      <strong><%= f.to_s.titleize %>:</strong>
    </div>
  </div>
  <div class='row' style='padding-bottom: 10px'>
    <div class='column large-12'>
      <%= @book[f] %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="columns" id="books-table">
    <%= render partial: 'rental_histories', locals: { book_rentals_grid: @rental_histories } %> </div>
</div>

