<% if @book.errors.nil? || @book.errors.empty? %>
  $.modal.close();
  $("#books-table").html('<%= escape_javascript(render(partial: "books", locals: { books_grid: @books_grid } )) %>')
<% else %>
  $(".book_form").html('<%= escape_javascript(render(partial: "form", locals: { book: @book })) %>');
<% end %>
