<% checkin = CheckIn.new unless checkin %>
<div class="modal-form">
  <%= form_for(checkin, remote: true, style: 'overflow: scroll') do |f| %>
    <%= label :member_id, 'Member' %>
    <%= f.collection_select :member_id, Member.all, :id, :fullname, prompt: true %>

    <%= label :activity_id, 'Activity' %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name, prompt: true %>

    <%= f.text_field :created_at, value: (checkin.created_at.nil? ? Time.now : checkin.created_at.to_est.strftime("%Y-%m-%d %l:%M %P")) %>
    <%= f.submit %>
  <% end %>
</div>
