<%= grid(@check_in_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Member Card Number', attribute: 'card_number', model: 'Member' do |check_in|
    check_in.member.card_number
  end

  g.column name: 'Activity', attribute: 'name', model: 'Activity' do |check_in|
    check_in.activity.name
  end

  g.column name: 'First name', attribute: 'first_name', model: 'Member' do |check_in|
    check_in.member.first_name
  end

  g.column name: 'Last name', attribute: 'last_name', model: 'Member' do |check_in|
    check_in.member.last_name
  end

  g.column name: 'Chinese name', attribute: 'chinese_name', model: 'Member' do |check_in|
    check_in.member.chinese_name
  end

  g.column name: 'Date', attribute: 'created_at' do |check_in|
    check_in.created_at.to_est.strftime("%Y-%m-%d %l:%M %P")
  end

  g.column in_csv: false do |check_in|
    (link_to 'Remove', "/checkin/#{check_in.id}", remote: true, method: :delete) + " " + 
    (link_to_modal 'Edit', edit_check_in_path(check_in))
  end
end
=%>

