<% history.each do | h | %>
  <div class="row" style="padding-bottom: 10px">
    <div class="small-3 columns">
      <%= h.created_at.to_est.strftime("%Y-%m-%d %l:%M %P") %>
    </div>

    <div class="small-2 columns">
      <%= h.member.card_number %>
    </div>

    <div class="small-3 columns">
      <%= h.member.fullname %>
    </div>

    <div class="small-2 columns">
      <%= h.member.chinese_name %>
    </div>

    <div class="small-2 columns">
      <%= h.name %>
    </div>
  </div>
<% end %>

