<div class="row">
  <div class="small-12 columns small-centered">
    <div class="row">
      <div class="small-4 columns">
        <h2>Check In</h2>
        <%= form_tag("/checkin", method: "post", remote: true) do %>
          <%= label_tag :card_number, "Card Number:" %>
          <%= text_field_tag :card_number, '', autofocus: true, placeholder: "Enter card number", id: 'card-input' %>
          <%= label :activity_id, 'Activity' %>
          <% options = {
            'Course Classes' => CourseClass.active.at_location(@location).
            where(start_time: Time.zone.now.beginning_of_day..Time.zone.now.end_of_day).
            where('end_time >= ?', Time.zone.now - 1.hour).
            where('course_classes.end_time > ?', Time.zone.now - 1.hour).collect {|c| [c.course.course_name, "c_#{c.id}"]},
            'Activities' => Activity.at_location(@location).collect {|p| [ p.name, "a_#{p.id}" ] }
          } %>
          <%= select '', 'checkin_activity_id', grouped_options_for_select(options), { include_blank: true } %>
          <%= submit_tag "Check In" %>
        <% end %>
      </div>
      <div class="small-8 columns" id="info-panel">
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="small-12 columns">
        <h2>Last 10 check-ins:</h2>
        <div id="last_ten">
          <%= render partial:"last_ten", locals: { history: @history } %>
        </div>
      </div>
    </div>
  </div>
</div>

