<% if @member && (@member.errors.nil? || @member.errors.empty?) %>
  $("#info-panel").html("<%= escape_javascript(render(partial: "/members/show", locals: { member: @member})) %>");
  $("#last_ten").fadeOut('fast', function() {
    $("#last_ten").html("<%= escape_javascript(render(partial: "last_ten", locals: { history: @history})) %>");
    $("#last_ten").fadeIn('fast');
  })
  $('#card-input').val("");
  $('#card-input').focus();
<% end %>

$('#select-notice').<%= @activity.nil? && @course_class.nil? ? 'show' : 'hide' %>();
$('#not-register-notice').<%= @not_registered ? 'show' : 'hide' %>();

<% unless flash.empty? %>
  $('#flash-error').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash-error').show();
<% end %>

