$("#histories-table").html('<%= escape_javascript(render(partial: "histories", locals: { histories: @histories } )) %>')
$('#flash').html("<%= escape_javascript raw(flash_display) %>");
$('#flash').show();
