<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>Check In Histories</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns" style="padding-bottom: 10px">
    <%= link_to("Export", checkin_histories_path(format: :xls), class: 'button small') %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-12 columns" id="histories-table">
    <%= render partial: "histories", local: { check_in_grid: @check_in_grid } %>
  </div>
</div>
