<% if @checkin.errors.nil? || @checkin.errors.empty? %>
  $.modal.close();
  $("#histories-table").html('<%= escape_javascript(render(partial: "histories")) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $(".checkin_form").html('<%= escape_javascript(render(partial: "form", locals: { checkin: @checkin })) %>');
<% end %>
