<%= grid(@course_instructors_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Name', attribute: 'name' do |course_instructor|
    course_instructor.name
  end

  g.column name: 'Chinese name', attribute: 'chinese_name' do |course_instructor|
    course_instructor.chinese_name
  end

  g.column in_csv: false do |course_instructor|
    (link_to 'Show', course_instructor) + ' ' +
    if @session[:authenticated]
      (link_to_modal 'Edit', edit_course_instructor_path(course_instructor))
    else
      ''
    end
  end
end
%>

