<% course_instructor = CourseInstructor.new unless course_instructor %>
<div class="modal-form" id="course-instructor-form">
  <%= form_for(course_instructor, remote: true, style: 'overflow: scroll') do |f| %>
    <%= f.text_field :name %>
    <%= f.text_field :chinese_name %>
    <%= f.text_area :info, rows: 7 %>
    <%= f.submit %>
  <% end %>
</div>
