<% if @new_instructor.errors.empty? %>
  $.modal.close();
  $("#course-instructors-table").html('<%= escape_javascript(render(partial: "course_instructors")) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $("#new-instructor").html('<%= escape_javascript(render(partial: "form", locals: { course_instructor: @new_instructor })) %>');
<% end %>
