<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>All Instructors:</h1>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" style="padding-bottom: 10px">
    <%= link_to_modal("New", new_course_instructor_path, class: 'button small') if @session[:authenticated] %>
    <%= link_to("Export", course_instructors_path(format: :xls), class: 'button small') if @session[:authenticated] %>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" id="course-instructors-table">
    <%= render partial: "course_instructors", locals: { course_instructors: @course_instructors } %>
  </div>
</div>

