<div class='row'>
  <div class='column large-12'>
    <h2><%= @course_instructor.name %> (<%= @course_instructor.chinese_name %>)</h2>
    <%= @course_instructor.info %>
    <hr/>
  </div>
</div>
<div class='row'>
  <div class='column large-12'>
    <h3>Courses</h3>
  </div>
  <%= grid(@courses_grid, html: { style: 'width: 100%' }) do |g|
    g.column name: 'Name', attribute: 'course_name'
    g.column name: 'Chinese name', attribute: 'course_chinese_name'
    g.column name: 'Period', attribute: 'start_date' do |course|
      "#{course.start_date} - #{course.end_date}"
    end
    g.column name: 'Time', attribute: 'start_time' do |course|
      "#{course.start_time_value} - #{course.end_time_value}"
    end

    g.column in_csv: false do |course|
      link_to 'Show', course
    end
  end
  %>
</div>
