<%= grid(courses_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Course Code', attribute: 'course_code'
  g.column name: 'Course Name', attribute: 'course_name'
  g.column name: 'Chinese Name', attribute: 'course_chinese_name'
  g.column name: 'Start Date', attribute: 'start_date'
  g.column name: 'End Date', attribute: 'end_date'
  g.column name: 'Day of Week', attribute: 'day_of_week' do |course|
    Course::DayOfWeek.for(course.day_of_week)
  end

  g.column name: 'Location', model: 'Location', attribute: 'name' do |activity|
    activity.location.display_name
  end

  g.column in_csv: false do |course|
    (link_to 'Show', course) + ' ' +
    if @session[:authenticated]
      (link_to_modal 'Edit', edit_course_path(course))
    else
      ''
    end
  end
end
%>

