<% course = Course.new unless course %>
<div class="modal-form" id="course-form">
  <%= form_for(course, remote: true, style: 'overflow: scroll') do |f| %>
    <%= f.label 'Instructor' %>
    <%= f.collection_select :course_instructor_id, CourseInstructor.order(:name), :id, :name, prompt: 'Select Instructor' %>
    <%= f.label 'Location' %>
    <%= f.collection_select :location_id, Location.order(:name), :id, :display_name, prompt: 'Select Location' %>
    <% [:course_code, :course_name, :course_chinese_name, :number_of_lessons, :course_fee_general, :course_fee_senior_circle, :course_fee_volunteer].each do |field| %>
      <%= f.text_field field %>
    <% end %>
    <%= f.label 'Day of Week' %>
    <%= select 'course', 'day_of_week', Course::DayOfWeek::WEEK.invert, prompt: 'Select Day' %>
    <%= f.text_field :start_date, class: 'date-input' %>
    <%= f.text_field :end_date, class: 'date-input' %>
    <%= f.text_field :start_time, value: course.start_time_value, class: 'time-input' %>
    <%= f.text_field :end_time, value: course.end_time_value, class: 'time-input' %>
    <%= f.text_area :course_description, rows: 8 %>
    <%= f.submit %>
  <% end %>
</div>
<script type='text/javascript'>
  $('.time-input').timepicker({timeFormat: 'HH:mm'});
  $('.date-input').datepicker({dateFormat: 'yy-mm-dd'});
</script>
