<style type="text/css">
  #calendar .fc-header { border: 0px }
  #calendar .fc-border-separate { border: 0px }
</style>
<div class='row' style='margin-top: 20px'>
  <div id='calendar' class='large-12 large-centered columns'>
  </div>
</div>
<script>
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    events: '/courses/calendar.json'
  });
</script>
