<% if @course.errors.empty? %>
  $.modal.close();
  $("#courses-table").html('<%= escape_javascript(render(partial: "courses", locals: { courses_grid: @courses_grid})) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $("#new-course").html('<%= escape_javascript(render(partial: "form", locals: { course: @course })) %>');
<% end %>
