<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>All Courses:</h1>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" style="padding-bottom: 10px">
    <%= link_to_modal("New", new_course_path, class: 'button small') if @session[:authenticated] %>
    <%= link_to("Export Course Member", course_registrations_path(:format => 'xls'), class: 'button small') if @session[:authenticated] %>
    <!--    <%= link_to("Export", courses_path(format: :xls), class: 'button small') if @session[:authenticated] %> -->
    <br/>
    <% if params[:show_all] == 'true' %>
      <%= link_to 'Show Active Only', params.merge(:show_all => false) %>
    <% else %>
      <%= link_to 'Show All', params.merge(:show_all => true) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" id="courses-table">
    <%= render partial: "courses", locals: { courses_grid: @courses_grid } %>
  </div>
</div>
