<script>
  $(function() {
    $('.pagination a').click(function() {
      $(this).attr('href', $(this).attr('href') + window.location.hash)
    });
    $('.pagination_status a').click(function() {
      $(this).attr('href', $(this).attr('href') + window.location.hash)
    });
  });
</script>
<style>
  .modal {
    width: 900px;
  }
</style>
<div class='row'>
  <div class='column large-8'>
    <h2><%= @course.course_name %> <%= @course.course_chinese_name %></h2>
  </div>
  <div class='column large-4 right'>
    <div class='right'>
      <%= link_to 'Export', course_path(@course, :format => 'xls'), class: 'button small', style: 'margin-top: 10px' if @session[:authenticated] %>
      <%= link_to_modal 'Create new', course_duplicate_path(@course), class: 'button small', style: 'margin-top: 10px' if @session[:authenticated] %>
    </div>
  </div>
</div>
<div class='row' style='padding-bottom: 10px'>
  <div class='column large-12'>
    <strong>Location:</strong>
  </div>
</div>
<div class='row' style='padding-bottom: 10px'>
  <div class='column large-12'>
  <%= @course.location.display_name %>
  </div>
</div>
<div class='row' style='padding-bottom: 10px'>
  <div class='column large-12'>
    <strong>Instructor:</strong>
  </div>
</div>
<div class='row' style='padding-bottom: 10px'>
  <div class='column large-12'>
    <%= link_to @course.course_instructor.name, @course.course_instructor %>
  </div>
</div>
<div class='row' style='padding-bottom: 10px'>
  <div class='column large-12'>
    <strong>Description:</strong>
  </div>
</div>
<div class='row' style='padding-bottom: 10px'>
  <div class='column large-12'>
    <%= @course.course_description %>
  </div>
</div>
<div class='row'>
  <div class='column large-12'>
    <%= render partial: 'courses/show/info', locals: { course: @course } %>
  </div>
</div>
<div class='row'>
  <div class='column large-12'>
    <hr/>
    <dl class="tabs" data-tab data-options="deep_linking:true" data-options="scroll_to_content: false">
      <dd class='<%= @tab.nil? || @tab == 'schedule' ? 'active' : '' %>'>
        <a href="#course-classes-table">Class Schedules</a>
      </dd>
      <dd><a href="#course-members">Course Members</a></dd>
      <dd class='<%= @tab == 'attendance' ? 'active' : '' %>'>
        <a href="#course-attendance-history">Attendance History</a>
      </dd>
    </dl>
    <div class="tabs-content">
      <div class='course-members content' id='course-members'>
        <% if @session[:authenticated] %>
          <%= link_to_modal('New Member', new_registration_course_registrations_path(course_id: @course.id), :class => 'button small') %>
        <% end %>
        <%= grid(@course_member_grid, html: {style: 'width: 100%'}) do |g|
          g.column name: 'Member card number', attribute: 'card_number', model: Member do |registration|
            registration.member.card_number
          end
          g.column name: 'Member name', attribute: 'first_name', model: Member do |registration|
            link_to registration.member.fullname, registration.member
          end
          g.column name: 'Chinese name', attribute: 'chinese_name', model: Member do |registration|
            link_to registration.member.chinese_name, registration.member
          end
          g.column name: 'Registration Date', attribute: 'created_at'
          g.column name: 'Amount Paid', attribute: 'amount_paid'
          g.column name: 'Receipt Number', attribute: 'receipt_number'
          g.column name: 'Remarks', attribute: 'remarks'

          g.column in_csv: false do |registration|
            if @session[:authenticated]
              (link_to_modal 'Edit',
               edit_course_registration_path(registration)
              ) + "\r" +
              (link_to_modal 'Edit Classes',
               course_edit_membership_path(registration.course, registration.member)
              ) + "\r" +
              (link_to "Remove", course_registration_path(registration),
                :method => 'delete',
                data: { confirm: 'Are you sure?' })
            end
          end
        end %>
      </div>
      <div class='course-attendance-history content <%= @tab == 'attendance' ? 'active': '' %>' id='course-attendance-history'>
        <%= render partial: 'courses/show/course_attendances', locals: { course: @course } %>
      </div>
      <div class='course-classes-table content <%= @tab.nil? || @tab == 'schedule' ? 'active' : '' %>'
        id='course-classes-table'>
        <%= render partial: 'courses/show/course_classes', locals: { course_classes_grid: @course_classes_grid, course: @course } %>
      </div>
    </div>
  </div>
</div>

