<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>Today's Classes:</h1>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" id="courses-table">
    <%= render partial: "courses/today/today_classes",
      locals: { classes_grid: @classes_grid } %>
  </div>
</div>
