<%
  course_registration.member ||= Member.new
  path = if course_registration.new_record?
           create_registration_course_registrations_path
         else
           course_registration
         end
%>
<%= form_for(course_registration, :url => path, :remote => true) do |f| %>
    <%= f.label 'Course' %>
    <%= f.collection_select :course_id, [course_registration.course] , :id, :course_display_name, prompt: 'Select Course' %>
    <%= f.fields_for :member, course_registration.member do |member_form| %>
      <%= member_form.text_field :card_number %>
    <% end %>
    <%= f.text_field :amount_paid %>
    <%= f.text_field :receipt_number %>
    <%= f.text_area :remarks %>
    <%= f.submit %>
<% end %>

