<% course_registration = @course_registration || course_registration || CourseRegistration.new(member: Member.new) %>

Filter by Day:
<br/>
<br/>
<%= form_tag(new_course_registration_path, method: :get) do %>
  <%= select_tag 'day_of_week', options_for_select(Course::DayOfWeek::WEEK.invert, day_of_week), prompt: 'Select Day' %>
<% end %>
<hr/>
<%= form_for(course_registration) do |f| %>
    <%= f.label 'Course' %>
    <%= f.collection_select :course_id, courses , :id, :course_display_name, prompt: 'Select Course' %>
    <%= f.fields_for :member, course_registration.member do |member_form| %>
      <%= member_form.text_field :card_number %>
    <% end %>
    <%= f.text_field :amount_paid %>
    <%= f.text_field :receipt_number %>
    <%= f.text_area :remarks %>

    <%= f.label 'Course Classes' %>
    <table>
      <tbody id='course-class-body'>
      </tbody>
    </table>
    <%= f.submit %>
<% end %>
<script>
  $(function() {
    $('#day_of_week').change(function(){
      this.form.submit();
    });
  });
</script>
