<% if @course_registration.errors.present? %>
  $("#new-course-registration").html(
    '<%= escape_javascript(render(partial: "edit_form", locals: { course_registration: @course_registration })) %>'
  );
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  window.location.href = '<%= course_path(@course_registration.course) %>';
<% end %>
