<div class='row'>
  <div class='columns large-12'>
    <div class='row'>
      <div class='columns large-12'>
        <h2>Course Registration</h2>
      </div>
    </div>
    <div>
      <div class='columns large-4 small-12' id='new-registration-form'>
        <%= render partial: 'form', locals: {
          course_registration: @course_registration,
          courses: @courses,
          day_of_week: @day_of_week
        } %>
      </div>
      <div class='columns large-8 small-12' id='member-info' style='display: none'>
        <h3><a class='member-link'><span class='member-fullname'>Member name</span> (<span class='member-chinese-name'></span>)</a></h3>
        <img class='member-avatar'/>
        <div style='margin-buttom: 10px'>
          Latest expiry date: <span class='member-expiry-date'></span>
        </div>
        <div style='margin-buttom: 10px'>
          Member type: <span class='member-type'></span>
        </div>
        <div style='margin-buttom: 10px' class='member-expired-notice'>
          <span class='error-message'>Expired!</span>
        </div>
        <hr/>
      </div>
      <div class='columns large-8 small-12' id='course-info' style='display: none'>
        <h2><span class='course-name'>Name placeholder</span> <span class='course-chinese-name'></span></h2>
        <h3>Course instructor: <span class='course-instructor'>instructor name</span></h3>
        <div class='row'>
          <div class='columns large-6'>
            <h4>Dates:</h4>
            <div style='margin-bottom: 10px'>
              <span class='course-from'>from</span> to <span class='course-to'>to</span>
            </div>
            <div style='margin-bottom: 10px'>
              Every <span class='course-day-of-week'>FakeDay</span>
              <span class='course-from-time'>from</span> - <span class='course-to-time'>to</span>
            </div>
            <div style='margin-bottom: 10px'>
              <span class='number-of-lessons'></span> lesson(s)
            </div>
          </div>
          <div class='columns large-6'>
            <h4>Fees:</h4>
            <div>
              General Fee: <span class='course-fee-general'>Fee</span>
            </div>
            <div>
              Senior Circle Fee: <span class='course-fee-senior-circle'>Fee</span>
            </div>
            <div>
              Volunteer Fee: <span class='course-fee-volunteer'>Fee</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
