<% @course_registration = CourseRegistration.new(:course_id => @course.id, member: Member.new) %>
<div id="new-course-registration">
  <%= render partial: "edit_form", :locals => {:course_registration => @course_registration} %>
</div>

