// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-info-table {
  width: 100%;
}

.member-nav {
  height: 50px;
}

.member-nav a {
  margin-top: 15px;
  margin-bottom: 15px;
}
