<%= grid(@activities_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Name', attribute: 'name' do |activity|
    activity.name
  end

  g.column name: 'Location', model: 'Location', attribute: 'name' do |activity|
    activity.location.display_name
  end

  g.column do |activity|
    (link_to_modal 'Edit', activity)
  end
end
%>

