<% activity = Activity.new unless activity %>
<%= form_for(activity, remote: true) do |f| %>
  <%= f.text_field :name %>
  <%= f.label 'Location' %>
  <%= f.collection_select :location_id, Location.order(:name), :id, :display_name, prompt: 'Select Location' %>
  <%= f.submit %>
<% end %>

