<% if @activity.errors.nil? || @activity.errors.empty? %>
  $.modal.close();
  $("#activities-table").html('<%= escape_javascript(render(partial: "activities", locals: { activities: @activities } )) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $(".activity_form").html('<%= escape_javascript(render(partial: "form", locals: { activity: @activity })) %>');
<% end %>
