<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>All Activites:</h1>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" style="padding-bottom: 10px">
    <%= link_to_modal "New", new_activity_path, class: 'button small' %>
    <%= link_to("Export", activities_path(format: :xls), class: 'button small') %>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" id="activities-table">
    <%= render partial: "activities", locals: { activities: @activities } %>
  </div>
</div>
