<div class="modal-form" id="course-class-membership" style='width: 800px'>
  <%= form_tag(course_update_membership_path(course_id: @course.id, id: @member.id), style: 'overflow: scroll') do %>
    <h2><%= link_to @member.fullname, @member %></h2>
    <table>
      <thead>
        <tr>
          <% @course.course_classes.each do |cclass| %>
            <th><%= cclass.date %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @course.course_classes.each do |cclass| %>
            <td>
              <%= check_box_tag "course_classes[#{cclass.id}]", nil, cclass.is_member?(@member) %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= submit_tag 'Save', class: 'button tiny' %>
  <% end %>
</div>
