<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Members" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link rel="stylesheet" medium='screen' type="type/css" href="/css/foundation.min.css"/>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src='/js/foundation.min.js'></script>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href='/'>Mon Sheong
              <% if Rails.env.downcase != 'production' %>
                <big style="color: red"><%= Rails.env.capitalize %></big>
              <% end %>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><%= link_to "Members",root_path  %></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if session[:authenticated] == true %>
              <li class="active"><a href="/sessions/signout">Sign Out</a></li>
          <% else %>
              <li class="active"><a href="/sessions/new">Sign In</a></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#"><%= link_to "Check In", checkin_path %></a></li>
          <li><a href="#"><%= link_to "Members", members_path %></a></li>
          <li><a href="#"><%= link_to "Activities", activities_path %></a></li>
          <li><a href="#"><%= link_to "Histories", checkin_histories_path %></a></li>
          <li class='has-dropdown'>
            <a href="#"><%= link_to "Course Management", courses_today_path %></a>
            <ul class="dropdown">
              <li><a href="#"><%= link_to "Today", courses_today_path %></a></li>
              <li><a href="#"><%= link_to "Calendar", courses_calendar_path %></a></li>
              <% if session[:authenticated] == true %>
                <li><a href="#"><%= link_to "Register", new_course_registration_path %></a></li>
              <% end %>
              <li><a href="#"><%= link_to "Instructors", course_instructors_path %></a></li>
              <li><a href="#"><%= link_to "Courses", courses_path %></a></li>
            </ul>
          </li>
          <li class='has-dropdown'>
            <a href="#">Books</a>
            <ul class="dropdown">
              <li><a href="#"><%= link_to "Borrow a Book", new_book_rental_path %></a></li>
              <li><a href="#"><%= link_to "Return a Book", return_a_book_book_rentals_path %></a></li>
              <li><a href="#"><%= link_to "Books", books_path %></a></li>
            </ul>
          </li>
          <li class='has-dropdown'>
            <a href="#">Utils</a>
            <ul class="dropdown">
              <li><a href="#"><%= link_to "Email List Generator", email_list_generator_path %></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <div id="flash" class="alert-box success" style="<%= flash[:notice].blank? ? "display: none" : '' %> ">
      <%= flash[:notice].blank? ? '' : flash[:notice] %>
    </div>
    <div id="flash-error" class="alert-box error" style="<%= flash[:error].blank? ? "display: none" : '' %>">
      <%= flash[:error].blank? ? '' : flash[:error] %>
    </div>
    <%= yield %>
  </body>
</html>
