<% member = Member.new unless member %>
<div class="modal-form" id="new-member-form">
  <%= form_for(member, remote: true, style: 'overflow: scroll') do |f| %>
    <% if member.new_record? || (defined?(registration) && !registration.nil?) %>
      <% registration = MembershipRegistration.new(registration_date: Time.now, new_expiry_date: Time.now) unless registration %>
      <%= fields_for registration do |r| %>
        <%= r.text_field :receipt_number %>
        <%= r.text_field :year, value: (registration.year.nil? ? Time.now.year : registration.year) %>
        <%= r.text_field :registration_date, value: Time.now.strftime("%Y-%m-%d"), class: 'datepicker' %>
        <%= r.text_field :new_expiry_date, value: (Time.now + 1.year).strftime("%Y-%m-%d"), class: 'datepicker' %>
      <% end %>
      <hr/>
    <% end %>
    <%= f.text_field :card_number %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :chinese_name %>
    <%= f.file_field :avatar %>

    <% [:street, :city, :postal_code,
                 :home_phone, :cell_phone, :email_address, :emergency_contact,
                 :emergency_telephone_number, :emergency_contact_relationship,
                 :date_of_birth].each do | field | %>
                   <%= f.text_field field %>
                <% end %>

    <% unless member.new_record? %>
      <%= f.text_field :registration_date, value: (member.nil? || member.registration_date.nil? ? Time.now : member.registration_date).strftime("%Y-%m-%d"), class: 'datepicker' %>
      <%= f.text_field :latest_expiry_date, value: (member.nil? || member.last_name.nil? ? Time.now + 1.year : member.latest_expiry_date).strftime("%Y-%m-%d"), class: 'datepicker' %>
    <% end %>
    <%= f.check_box :issued_membership_card %>
    <%= f.text_area :notes %>

    <%= f.submit %>
  <% end %>
</div>
