<div class="member-info row">
  <table class="member-info-table">
  <% fields = [:card_number, :street, :city, :postal_code,
               :home_phone, :cell_phone, :email_address, :emergency_contact,
               :emergency_telephone_number, :emergency_contact_relationship,
               :date_of_birth, :issued_membership_card, :latest_expiry_date, :notes]
     columns = 3 %>

   <tr>
     <td>
       <div class="row">
         <div class="columns large-6">
           <h6><strong>Picture:</h6></strong>
         </div>
         <div class="columns large-6">
           <%= image_tag member.avatar.url(:medium) %>
           <% if member.avatar_file_name %>
             <div>
               <%= link_to "Remove picture", member_destroy_avatar_path(member), method: :delete, remote: true %>
             </div>
           <% end %>
         </div>
       </div>
     </td>
   </tr>

   <% fields_per_column = (fields.count / 3.0).ceil
   fields.each_slice(fields_per_column).to_a.reduce([]) do |rows, column|
     column.each_index do |index|
       rows[index] ||= []
       rows[index] << column[index]
     end
     rows
   end.each do | fields | %>
       <tr>
       <% fields.each do | field | %>
         <td>
           <div class="row">
             <div class="columns large-6">
               <h6><strong><%= field.to_s.split('_').map {|x|x.capitalize}.join(' ').strip %>:</strong></h6>
             </div>
             <div class="columns large-6">
               <%= member[field] %>
             </div>
           </div>
         </td>
       <% end %>
       </tr>
  <% end %>
  </table>
</div>
