<table>
  <% member.courses.order('end_date DESC').each do |course| %>
    <tr>
      <th></th>
      <% course.course_classes.each do |cclass| %>
        <th><%= cclass.date %></th>
      <% end %>
    </tr>
    <tr>
      <td><%= link_to course.course_name, course %></td>
      <% course.course_classes.each do |cclass| %>
        <td>
          <%= check_box_tag '', nil, cclass.attended?(member), disabled: true %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
