<%= grid(@members_grid, html: { style: 'width: 100%' }) do |g|
  g.column name: 'Card Number', attribute: 'card_number' do |member|
    member.card_number
  end

  g.column name: 'First name', attribute: 'first_name' do |member|
    member.first_name
  end

  g.column name: 'Last name', attribute: 'last_name' do |member|
    member.last_name
  end

  g.column name: 'Chinese name', attribute: 'chinese_name' do |member|
    member.chinese_name
  end

  g.column name: 'Registration Date', attribute: 'registration_date' do |member|
    member.registration_date.strftime("%Y-%m-%d")
  end

  g.column name: 'Latest Expiry Date', attribute: 'latest_expiry_date' do |member|
    member.latest_expiry_date.strftime("%Y-%m-%d")
  end

  g.column in_csv: false do |member|
    link_to('Show', member) + ' | ' +
      link_to('Destroy', member_destroy_confirm_path(member))
  end
end

%>

