<%= grid(@renewals_grid, html: { style: 'width: 100%' }, show_filters: false) do |g|

  g.column name: 'Year', attribute: 'year', ordering:  false do |renewal|
    renewal.year
  end

  g.column name: 'Renewal Date', attribute: 'registration_date', ordering:  false do |renewal|
    renewal.registration_date
  end

  g.column name: 'New Expiry Date', attribute: 'new_expiry_date', ordering:  false do |renewal|
    renewal.new_expiry_date
  end

  g.column name: 'Receipt Number', attribute: 'receipt_number', ordering:  false do |renewal|
    renewal.receipt_number
  end

  g.column do |renewal|
    link_to_modal 'Edit', edit_member_membership_registration_path(renewal.member, renewal)
  end
end
%>

