<div class="row">
  <div class="small-12 columns" style="padding-top: 10px">
     <%= image_tag member.avatar.url(:thumb) %>
    <h3> <%= member.card_number %></h3>
    <% { first_name: nil,
    last_name: nil,
    chinese_name: nil,
    registration_date: lambda { |d| d.strftime("%Y-%m-%d") }}.each do | key, block | %>
      <div class="small-4 columns">
        <%= key.to_s.split('_').map(&:capitalize).join(' ') %>
      </div>
      <div class="small-8 columns">
        <%= if block
            block.call(member.send(key))
          else
            member.send(key)
          end %>
      </div>
    <% end %>
    <div class="small-4 columns">
      Latest Expiry Date
    </div>
    <div class="small-8 columns">
      <% if member.latest_expiry_date < Time.now %>
        <strong class="red">Expired! <%= member.latest_expiry_date.strftime("%Y-%m-%d") %></strong>
      <% else %>
        <%= member.latest_expiry_date.strftime("%Y-%m-%d") %>
      <% end %>
    </div>
    <div class="small-12 columns">
      <span id="select-notice" style="color: red; display: none">Please select an activity</span>
      <span id="not-register-notice" style="color: red; display: none">User is not a member of the course</span>
    </div>
  </div>
</div>
