<% if (@member.errors.nil? || @member.errors.empty?) && (@registration.errors.nil? || @registration.errors.empty?) %>
  $.modal.close();
  $("#members-table").html('<%= escape_javascript(render(partial: "members", locals: { members: @members } )) %>')
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $(".member_form").html('<%= escape_javascript(render(partial: "form", locals: { member: @member, registration: @registration, view: :members })) %>');
<% end %>
