<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>Delete <%= @member.fullname %></h1>
    Please confirm by entering username/password.
    <br/>
    <br/>
  </div>
</div>
<div class="row">
  <div class="large-8 columns large-centered">
    <%= form_tag(@member, method: "delete") do %>
      <div class="row">
        <div class="columns large-4">
          <%= label_tag(:username, "Username") %>
        </div>
        <div class="columns large-8">
          <%= text_field_tag(:username) %>
        </div>
      </div>
      <div class="row">
        <div class="columns large-4">
          <%= label_tag(:password, "Password") %>
        </div>
        <div class="columns large-8">
          <%= password_field_tag(:password) %>
        </div>
      </div>
      <div class="row">
        <div class="columns large-4">
          <%=
            submit_tag(
              "Delete!", class: 'button small',
              :confirm => "You are about to delete #{@member.fullname}. Are you sure?"
            )
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>
