<div class="row">
  <div class="small-8 large-centered columns">
    <h1 style='text-align: center'>All Members:</h1>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" style="padding-bottom: 10px">
    <%= link_to_modal("New", new_member_path, class: 'button small') if @session[:authenticated] %>
    <%= link_to("Export", members_path(params.merge({format: :xls})), class: 'button small') if @session[:authenticated] %>
  </div>
</div>
<div class="row">
  <div class="small-10 large-centered columns" id="members-table">
    <%= render partial: "members", locals: { members: @members } %>
  </div>
</div>
