<div class='row member-nav'>
  <% if @previous.present? %>
    <%= link_to 'Previous', member_path(@previous), class: 'left' %>
  <% end %>
  <% if @next.present? %>
    <%= link_to 'Next', member_path(@next), class: 'right' %>
  <% end %>
  <hr/>
</div>
<div class="member-show row">
  <div class="member-name row">
    <div class="columns large-8">
      <h2 id="member-fullname"><%= @member.chinese_name %> <%= @member.fullname %></h2>
    </div>
    <div class="columns large-4 right" style="padding-top: 10px">
      <span class="right"><%= link_to_modal 'Edit', member_edit_path(@member, view: 'member_info'), class: "button tiny" %>
        <%= link_to 'Export', member_path(@member, format: :xls), class: 'button tiny' %></span>
    </div>
    <hr/>
  </div>

  <div class="column large-12">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#member-info">Member Info</a></dd>
      <dd><a href="#member-activities">Activities History</a></dd>
      <dd><a href="#renewal-history-section">Renewal History</a></dd>
      <dd><a href="#member-courses">Course Registrations</a></dd>
      <dd><a href="#member-course-attendance">Course Attendance</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="member-info active content" id="member-info">
        <%= render partial: "info", locals: { member: @member } %>
      </div>

      <div class="#member-activities content" id="member-activities">
        <%= grid(@activities_grid, html: { style: 'width: 100%' }, show_filters: false) do |g|

        g.column name: 'Member Card Number', attribute: 'card_number', model: 'Member', ordering:  false do |check_in|
          check_in.member.card_number
        end

        g.column name: 'Activity', attribute: 'name', model: 'Activity',ordering:  false do |check_in|
          check_in.activity.name
        end

        g.column name: 'First name', attribute: 'first_name', model: 'Member', ordering:  false do |check_in|
          check_in.member.first_name
        end

        g.column name: 'Last name', attribute: 'last_name', model: 'Member', ordering:  false do |check_in|
          check_in.member.last_name
        end

        g.column name: 'Chinese name', attribute: 'chinese_name', model: 'Member', ordering:  false do |check_in|
          check_in.member.chinese_name
        end

        g.column name: 'Date', attribute: 'created_at',ordering:  false do |check_in|
          check_in.created_at.to_est.strftime("%Y-%m-%d %l:%M %P")
        end
      end
    %>
      </div>

      <div class="renewal-history content" id="renewal-history-section">
        <div class="row">
          <div class="columns">
            <%= link_to_modal 'Renew', new_member_membership_registration_path(@member), class: "button small" %>
          </div>
        </div>

        <div id="renewal-history" class="row">
          <div class="columns">
            <%= render partial: "renewals", locals: { member: @member } %>
          </div>
        </div>
      </div>
      <div class='member-courses content' id='member-courses'>
        <%= grid(@course_registration_grid, html: {style: 'width: 100%'}) do |g|
          g.column name: 'Course code', attribute: 'course_code', model: Course do |registration|
            registration.course.course_code
          end
          g.column name: 'Course name', attribute: 'course_name', model: Course do |registration|
            registration.course.course_name
          end
          g.column name: 'Registration Date', attribute: 'created_at'
          g.column name: 'Amount Paid', attribute: 'amount_paid'
          g.column name: 'Receipt Number', attribute: 'receipt_number'
        end %>
      </div>
      <div class='member-course-attendance content' id='member-course-attendance'>
        <%= render partial: 'member_attendance', locals: {member: @member} %>
      </div>
    </div>
  </div>
</div>
