<% if @member.errors.nil? || @member.errors.empty? %>
  $.modal.close();
  <% if @view == 'members' %>
    $("#members-table").html('<%= escape_javascript(render(partial: "members", locals: { members: @members } )) %>')
  <% else %>
    $("#member-info").html('<%= escape_javascript(render(partial: "info", locals: { member: @member } )) %>')
    $("#member-fullname").html('<%= "#{@member.chinese_name} #{@member.fullname}" %>')
  <% end %>
  $('#flash').html("<%= escape_javascript raw(flash_display) %>");
  $('#flash').show();
<% else %>
  $(".member_form").html('<%= escape_javascript(render(partial: "form", locals: { member: @member })) %>');
<% end %>
