<% book_rental = book_rental || BookRental.new(member: Member.new, book: Book.new) %>

<%= form_for(book_rental) do |f| %>
    <%= f.fields_for :book, book_rental.book do |book_form| %>
      <%= book_form.text_field :book_code %>
    <% end %>

    <%= f.fields_for :member, book_rental.member do |member_form| %>
      <%= member_form.text_field :card_number %>
    <% end %>

    <%= label_tag :expiring_at %>
    <%= text_field_tag :expiring_at, Date.today + BookRental::RENTAL_PERIOD, :readonly => true %>

    <%= f.submit %>
<% end %>

<script>
  $('form').submit(function() {
    if (!$(this).find('#book_rental_book_book_code').val()) {
      return false;
    }
    if (!$(this).find('#book_rental_member_card_number').val()) {
      return false;
    }
  });
</script>
