<%=
  form_tag(return_a_book_book_rentals_path, :method => 'post') do |f|
%>
    <%= label_tag :book_code, 'Book Barcode' %>
    <%= text_field_tag :book_code %>

    <%= submit_tag nil, :class => 'button success small radius' %>
<% end %>

