<style>
  .warning {
    font-weight: bold;
    color: red;
  }

  .available {
    color: green;
  }
</style>
<div class='row'>
  <div class='columns large-12'>
    <div class='row'>
      <div class='columns large-12'>
        <h2>Library Checkout</h2>
      </div>
    </div>
    <div>
      <div class='columns large-4 small-12' id='new-registration-form'>
        <%= render partial: 'form', locals: { book_rental: @book_rental } %>
      </div>
      <div class='columns large-8 small-12' id='member-info' style='display: none'>
        <h3><a class='member-link'><span class='member-fullname'>Member name</span> (<span class='member-chinese-name'></span>)</a></h3>
        <img class='member-avatar'/>
        <div style='margin-buttom: 10px'>
          Latest expiry date: <span class='member-expiry-date'></span>
        </div>
        <div style='margin-buttom: 10px'>
          Member type: <span class='member-type'></span>
        </div>
        <div style='margin-buttom: 10px' class='member-expired-notice'>
          <span class='error-message'>Expired!</span>
        </div>
      </div>
      <div class='columns large-8 small-12'>
        <hr/>
      </div>
      <div class='columns large-8 small-12' id='book-info' style='display: none'>
        <h2><span class='book-name'>Name placeholder</span></h2>
        <div class='row'>
          <div class='columns large-6'>
            <div style='margin-bottom: 10px'>
              <span class='book-author'>author</span>
            </div>
            <div style='margin-bottom: 10px'>
              <span class='book-status'>status</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
