<style>
  .warning {
    font-weight: bold;
    color: red;
  }

  .available {
    color: green;
  }
</style>
<div class='row'>
  <div class='columns large-12'>
    <div class='row'>
      <div class='columns large-12'>
        <h2>Return a Book</h2>
      </div>
    </div>
    <div class='columns large-4 small-12' id='new-registration-form'>
      <%= render partial: 'return_form' %>
    </div>
    <div class='columns large-8 small-12' id='book-info' style='display: none'>
      <h2><span class='book-name'>Name placeholder</span></h2>
      <div class='row'>
        <div class='columns large-6'>
            <h4>Descriptoin:</h4>
            <div style='margin-bottom: 10px'>
              <span class='book-description'>book_description</span>
            </div>
            <div style='margin-bottom: 10px'>
              <span class='book-author'>author</span>
            </div>
            <div style='margin-bottom: 10px'>
              <span class='book-status'>status</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
